img
{
    max-width: 100%;
    height: auto;

    vertical-align: bottom;
}

.video
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 56.25%;
}

.video iframe,
.video object,
.video embed
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-decoration: none;

    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    scroll-behavior: smooth;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

a,
input,
button
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    outline: none !important;
}

a,
button
{
    cursor: pointer;
}
@supports (-webkit-appearance:none)
{
}
