@font-face
{
    font-family: 'Manrope';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-Bold.woff') format('woff'), url('../fonts/Manrope-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Manrope';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-Extrabold.woff') format('woff'), url('../fonts/Manrope-Extrabold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-SemiBold.woff') format('woff'), url('../fonts/Manrope-SemiBold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.woff2') format('woff2');
}
@supports (-webkit-appearance:none)
{
}
